.Drover {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    max-width: 300px;
    padding: 20px 10px;
    box-sizing: border-box;
    background: #fff;
    z-index: 90;
    transform: translateX(0px);
    transition: transform .22s ease-in;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            margin-bottom: 15px;

            a {
                color:#363f54;
                font-size: 30px;
                text-decoration: none;
                background-color: #fff;
                position: relative;
                padding: 0 20px 10px 20px;
                transition: opacity .3s ;
                
            }
        }
    }
}
.Drover.close {
    transform: translateX(-300px);
}
.Drover ul li a:hover, .active{
    opacity: .7;
}
